*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    
} .header{
    background-color: #131313;
} img{
    width: 20rem;
} nav{
     display: flex;
     justify-content: space-between;

} .ativo{
    display: block;
}

.hamburguer > span{
    width: 2rem;
    height: 0.3rem;
    margin: 2px;    
    display: flex;
    flex-direction: column;
    background-color: #fff;
} .logo{
    margin: 0.3rem 0.3rem;
    color: #fff;
    font-size: 1.5rem;
} .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
} .nav-menu{
    display: flex;
    align-items: center;
    gap: 3rem;
} .nav-link{
    color: #fff;
    transition: 0.5s ease;
} .hamburguer{
    display: none;
    cursor: pointer;
} .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}.ul .heading-box{
    max-width: 25rem;
    color: #fff;
}  .heading-1{
    font-size: 1.8rem;
} .header{
    background-color: #000;
} .heading-1, .heading-2{
    color: #fff;
} .heading-box{
    margin-left: 0.8rem;
    max-width: 30rem;
} .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .preloader__animation {
    width: 100%;
    height: 100%;
   
  } 

.btn-header{
    height: 3rem;
    width: 12rem;
    background-color: #2AB828;
    font-size: 1.6rem;
    border:none;
    border-radius: 5px;
    outline: none;
    margin: 2rem 0rem;
    cursor: pointer;
    color: #fff;
} .header-content{
    padding-bottom: 2rem;
}


.ativo{
    display: block;
} .icon-header{
    width: 100%;

} main, body{
    background-color: gray;
} .heading-main{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem 0rem 3rem;

} .container-desconto, .container-preorder{
    background-color:  #131313;
} .container-preorder{
    margin-top: 0.3rem;
} .container-desconto{
    margin-top: 0.3rem;
    padding-bottom: 3rem;
}
 
.article-desconto{ 
  
    height: 23em;
    background-color:  #272727;
    width: 18rem;
    gap: 2rem;
    margin:0 auto;
    margin-top: 3rem;


   
} .icon-desconto{
    width: 18rem;
    height: 15rem;
    object-fit: cover;
} .btn-desconto{
    font-size: 1.6rem;
    background-color: #2AB828;
    border: none;
    outline: none;
    color: #fff;
    width: 8rem;
    height: 5rem;
   
} .box-interna{
    margin-top: -3.4px;
     width: 100%;
     background-color: #000;
     display: flex;
     align-items: center;
    
} .box-prices{
    font-size: 1.3rem;
    color: #fff; 
    margin: 0 auto;
  
} .box-prices > p{
    color: #45D642;
  
} .nome-jogo{
    color: #fff;
    margin: 1rem 0rem 0rem 0.4rem;
    font-size: 1.5rem;

} .heading-preorder{
    text-align: center;
    color: #fff;
    font-size: 1.9rem;
    padding: 2rem 0rem 3rem 0rem;
} 

.heading-order{
    font-size: 1.5rem;
    color: #818080;
    margin-left: 0.8rem;
     

}

.article-order{
background-color: #1D1D1D;
height: 24rem;
width: 18rem;
margin: 0 auto;
margin-bottom: 2rem;


} .icon-order{
    width: 18rem;
    height: 15rem;
} .date-price{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    color: #818080;  
    margin-left: 0.8rem;
    font-size: 1.5rem;

}  .price-order{
    color: #45d642;
    padding-right: 0.8rem;
    
}   .icon-world{
    margin-top: 0.8rem;
    width: 10rem;
    height: 8rem;
    object-fit: cover;
  
}  .img-box{
       display: grid;
      grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
      margin-left: 0.8rem;
      gap: 0.3rem;


} .img-content-box1, .img-content-box2{
    margin-left: 0.3rem;
    display: grid;
    grid-template-columns: repeat(3,1 fr);
    max-width: 20rem;
 
} 


.container-world{
    background-color: #131313;
    margin-top: 0.3rem;
    padding-bottom: 3rem;
} .heading-world{
    color: #fff;
    text-align: center;
    padding: 2rem 0rem 3rem;
    font-size: 1.8rem;
} .heading-content{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
     margin: 3rem 0rem;
} 

.heading-online{
    color: #268FCB;
    font-size: 1.5rem; 
    margin-left: 0.4rem;
} .circle-one{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 5px;
    display: block;
    background-color: #268FCB;

} .circle-online-box{
    display: flex;
    align-items: center;
    justify-content: center;
} .heading-ingame{
    color: #45D642;
    font-size: 1.5rem; 
    margin-left: 0.4rem;
} .circle-two{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 5px;
    display: block;
    background-color:  #45D642;

}  .circle-ingame-box{
    display: flex;
    align-items: center;
    justify-content: center;
}  .circles{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
} .box{
    margin: 0 auto;
    height: 60rem;
    background-color: #1B252F;
    width: 23rem;
} .icon-game{
    width: 5rem;
    height: 6rem;
    object-fit: cover;
    padding-bottom: 0.3rem;
} .article-profile > figure{
    padding: 0.8rem 0rem 0rem 1rem;

} .article-profile{
    display: flex;
    align-items: center;
    
} .box-profile{  


    margin-left: 0.9rem;
    text-align: left;
} 
.profile-heading{
     color: #4EE04C;
     font-size: 1.5rem;
} .profile-sub{
    color: #4EE04C;
    font-size: 1.6rem;
    padding-top: 0.2rem;
    
}.progress{
    width: 100%;
    background-color: #424141;
    display: block;
    height: 0.1rem;
} .line-friend{
    color: #fff;
    font-size: 1.3rem;
    margin-left: 1rem;
} .icon-profile-friend{
  width: 6rem;
  height: 5rem;
  object-fit: cover;
} .friends-profile{
    margin: 1rem 0rem 1rem 2rem;
    display: flex;
    position: relative;
    
} .friends-profile::after{
    content: '';
    width: 0.5rem;
    height: 5rem;
    background-color: #4EE04C;
    position: absolute;
    
} .no-after{
    content: none !important;
}

.profile-status{
    margin-left: 0.8rem;
    color:  #4EE04C;
} 

.profile-name{
    font-size: 1.4rem;
} .profile-ingame{
    margin-top: 0.8rem;
    font-size: 1.4rem;
} .friends-online{
    position: relative;
}  .friends-online{
    margin: 1rem 0rem 1rem 2rem;
    display: flex;
    position: relative;
    
} .friends-online::after{
    content: '';
    width: 0.5rem;
    height: 5rem;
    background-color: #268FCB;
    position: absolute;
    
} .offline-now{
    margin: 1rem 0rem 1rem 2rem;
    display: flex;

} .profile-status-offline{
    margin-left: 0.6rem;
}

.online-barra{
       content: '';
        width: 0.5rem;
        height: 5rem;
        background-color: #268FCB;
        position: absolute;
    
} .profile-name-offline{
    font-size: 1.5rem;
    color: #268FCB;
} .profile-offline{
    color: #268FCB;
    font-size: 1.5rem;
    margin-top: 0.8rem;
}  

.usuario-offline{
    color: gray;
} .usuario-status{
    color: gray;
}

.profile-name-online{
    font-size: 1.5rem; 
    color: #268FCB;
} .profile-online{
    color: #268FCB;
    font-size: 1.5rem; 
    margin-top: 0.8rem;
}.heading-invite{
    padding: 2rem 0rem 2rem;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
} .acesse-icon{
    margin: 1rem 0rem 2rem;
    
} .acesse{
  margin-left: 1rem;
} 

.description-acesse{
    margin: 2rem 0rem 3rem 0rem;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;

}  .acesse-section{
    text-align: center;
}

.btn-acesse{
    width: 14rem;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #2AB828;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
} .jogados-container, .trapaceiros-container{
    text-align: center;
    margin-top: 0.3rem;
    background-color: #131313;
} .jogados-container > h1{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem 0rem 3rem;
} .trapaceiros-container{
    padding-bottom: 3rem;
}

.section-jogados{
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: auto;
} 

.article-jogados{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    position: relative;
} .jogados-icon{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 1rem 2rem 0rem 2rem;
} .article-jogados > p{
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
padding-left: 1rem;
position: absolute;
left: -5px;

} .description-jogados{
    text-align: left;
    color: #FFF;
    font-size: 2rem;
    margin-left: 2rem;
}

.trapaceiros-container > h1{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem 0rem;
    font-family: 'Poppins';
}.trapaceiros-box-content{
    max-width: 32rem;
    margin-left: 1rem;
    margin: 0 auto;
    
}

.trapaceiros-box-content > p{
    margin-top: 1rem;
    font-family: 'Poppins';
    color: #fff;
    font-size: 1.8rem;
} .container-chamando{
    margin-top: 0.3rem;
    background-color: #131313;
    text-align: center;
    padding-bottom: 2rem;
} .container-chamando > h1{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem 0rem 3rem;
}.icon-catalogo{
    width: 100%;
} .junte-box > p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0rem 2rem;
} .section-order{
  padding-bottom: 2em;

} 

.btn-junte{
    border: none;
    outline: none;
    width: 15rem;
    height: 3.4rem;
    background-color: #2AB828;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 2rem;
} .footer{
    margin-top: 0.3rem;
    background-color: #131313;
}

.footer-content{ 
    padding-top: 2rem;
    max-width: 15rem;
 display: flex;
   

} 
 .footer-content{
    list-style-type: none;
    margin: 0 auto;
    margin-top: 0.3rem;
    
} 

.footer-links > li {
    padding-top: 0.5rem;
} .footer-sociais > li > a{
    color: #fff;
    font-size: 1.4rem;
} .footer-sociais > li{
    padding-top: 0.5rem;
}

.footer-links > li > a{
    color: #fff;
    font-size: 1.4rem;
} .footer > p{
    padding: 2rem 0rem 4rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
}  .footer{
    margin: 0 auto;
} .world-content-container{
    overflow-x: auto;
}


@media (max-width:768px){

    .hamburguer{
        display: block;
    } .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    } .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        width: 2rem;

    }  .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        width: 2rem;
        
    } .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        background-color: black;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    } .nav-item{
        margin: 16px 0;
    } .nav-menu.active{
        left: 0;
    }  


}

@media (min-width: 799px){
    .section-desconto{
        max-width: 80rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } .article-desconto{
        width: 20rem;
        height: 25rem;
    } 
            
    .icon-desconto{
        width: 20rem;
    } .btn-desconto{
        width: 10rem;
    }  .nome-jogo{
        padding-top: 1rem;
    } .section-order{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 50rem;
        margin: 0 auto;
    }

 }
 
 @media (min-width: 800px){
    .header-content{
        display: flex;
        justify-content: space-around;
    } .icon-header{
        margin: 0rem 2rem;
         width: 25rem;
    }
 }



@media (min-width: 1048px)
{  .header-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} .heading-1, .heading-2{
    font-size: 2.4rem;
} .heading-2{
    margin: 2rem 0rem 2rem;
} .btn-header{
    height: 5rem;
    width: 13rem;
} .heading-box{
    max-width: 40rem;
} .hamburguer{
    display: none;
}  
 
.icon-header{
 width: 40rem;
    height: 80vh;
    object-fit: contain;
    
    
} .heading-main{
    font-size: 2.8rem;
}    
} 

@media (min-width: 1024px){
    .section-desconto{
        max-width: 80rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } .article-desconto{
        width: 20rem;
        height: 25rem;
    } .icon-desconto{
        width: 20rem;
    } .btn-desconto{
        width: 12.5rem;
    } 
}




@media (min-width: 1300px){
    .section-order{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            max-width: 120rem;
            gap: 1rem;
            margin: 0 auto;
         } .article-order{
            margin-top: 5rem;
            width: 40rem; 
            height: 30rem;
         } .icon-order{
            width: 40rem;
            height: 20rem;
         } .heading-order{
            font-size: 2rem;
         } .section-desconto{
            max-width: 80rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        } .article-desconto{
            width: 25rem;
            height: 25rem;
        } .icon-desconto{
            width: 25rem;
        } .btn-desconto{
            width: 12.5rem;
        } .nome-jogo{
            padding-top: 1rem;
        } .footer-content{
            max-width: 25rem;
            display: flex;
            justify-content: space-between;
            padding-bottom: 3rem;
           
        } .icon-header{
                    width: 90%;
    }
        
        
         
         .heading-preorder{
            font-size: 3.4rem;
         }
         
          .icon-world{
            width: 20rem;
            height: 10rem;
         } .img-box{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            object-fit: cover;


         } .world-content-container{
            margin: 0 auto;
        

         
         }   .invite{ 
            max-width: 110rem;
         margin: 0 auto;
            display: flex;
        
           
        } .circles{
            margin-top: 3rem;
        } .box-invite{
            margin-top: 1rem;
        } .heading-online, .heading-ingame{
            font-size: 2.3rem;
        } .heading-invite{
            font-size: 3rem;
            margin: 3rem 0rem;
        } .heading-world{
            font-size: 3rem;
             padding-bottom: 10rem;
        } 
        
         
         
         .img-content-box1{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            max-width: 50rem;
          
         
         } 
         
         .img-content-box2{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 50rem;
            gap: 1rem;
         }  .description-acesse{
            margin: 2rem 0rem 3rem 0rem;
            color: #fff;
            font-size: 2.4rem;
            text-align: center;
            max-width: 60rem;
    
           
        }   .btn-acesse{
            height: 5rem;
            width: 20rem;
            font-size: 3rem;
        } .acesse-icon{
            margin: 1rem 0rem 2rem;
            width: 100%;
        } .section-jogados{
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            margin: 0 auto;
            max-width: 160rem;
   
            
        } .article-jogados{
         padding: 2rem 0rem;

        }
        
        .article-jogados > p{
            position: static;
        }
        
        .jogados-icon{
            width: 40rem;
           
        } .jogados-container > h1{
            padding: 2rem 0rem 3rem;
            font-size: 3rem;
        } .trapaceiros-container > h1{
            font-size: 2.8rem;
            padding: 2rem 0rem 4rem;
        } .icon-cheat{
            width: 100%;
            height: 80vh;
            object-fit: cover;
        } .trapaceiros-box-content{
            max-width: 90rem;
        

        } .trapaceiros-box-content > p{
            font-size: 2.5rem;
        } .icon-catalogo{
            width: 45vw;
            height: 400px;
        } .container-chamando > h1{
            font-size: 2.3rem;
        }
        
        .junte-box{
            max-width: 45rem;
             margin-left: 1rem;
            
        } .junte-box > p{
            font-size: 2.3rem;
        }
        
        
        .article-junte{

            display: flex;
             justify-content: center;
             align-items: center;
       
        } 
         
    } 